@import "_variable.scss";
@import "_btn-lime.scss";
@import "_btn-violet.scss";
@import "_btn-cyan.scss";
@import "_btn-blue.scss";
@import "_btn-lemon.scss";

.container {
    width: 80vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}