.btn-lemon,
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem  4rem;
    background-color: lemonchiffon;
    margin: 1rem auto;
    font-size: 3rem;
    border-radius: 75%;
}
