html,
body{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$color: (
    red: #ff5722,
    white: #fff,
    blue: #00b0ff,
    black: #000,
);

@function color($color) {
    @return map-get($color, $color-name);
}
